<div class="ut-content">
    <div class="ut-sbc-challenges-view ui-layout-left">
        <div class="ut-sbc-set-info-view"><button class="btn-favorite checked"></button>
            <div class="sbc-status-container">
                <div class="ut-squad-building-set-status-label-view repeat"><span class="text">Repeatable: 3</span>
                </div>
                <div class="ut-squad-building-set-status-label-view refresh"><span class="text">2 Hours 49 Mins</span>
                </div>
                <div class="ut-squad-building-set-status-label-view expiry"><span class="text">Expires In: 3 Days 2
                        Hours</span></div>
            </div>
            <h1 class="status-header">Challenge Status:</h1>
            <div class="ut-progress-bar large rounded">
                <div class="ut-progress-bar--fill"></div><span class="ut-progress-bar--label">0/2 Completed</span>
            </div>
            <h1 class="rewards-header">Group Rewards</h1>
            <ul class="ut-sbc-group-reward-list-view">
                <li class="ut-sbc-reward-table-cell-view">
                    <div class="image-container">
                        <div class="ut-sbc-reward-table-cell-view--reward">
                            <div class="small misc item rare player-pick"><span class="statusOverlay"></span><img
                                    src="images/transparent.png" class="photo">
                                <div class="ut-item-misc-details">
                                    <div class="name">Item Pick</div>
                                    <div class="iconConsumable"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rowContent">
                        <div class="text-container"><span class="ut-sbc-reward-table-cell-view--value"></span><span
                                class="ut-sbc-reward-table-cell-view--label">x1 4 of 10 82+ Player Pick
                                (Untradeable)</span></div>
                    </div>
                </li>
            </ul>
            <div class="futgenie-sbc-controls-container button-container" data-futgenie-added="true"><button
                    class="btn-standard primary" data-futgenie-action="autoCompleteSetOpen">Auto Complete set</button>
            </div>
        </div>
        <div class="ut-sbc-challenge-header-view"><span class="ut-sbc-challenge-header-view--title">Challenge
                List</span></div>
        <div class="ut-sbc-challenges-view--challenges">
            <div class="ut-sbc-challenge-table-row-view"><img
                    src="https://www.ea.com/ea-sports-fc/ultimate-team/web-app/content/26E4D4D6-8DBB-4A9A-BD99-9C47D3AA341D/2026/fut/sbc/companion/challenges/images/sbc_challenge_image_330161-76611ac3-723c.png"
                    class="ut-sbc-challenge-table-row-view--image">
                <div class="ut-sbc-challenge-table-row-view--content">
                    <h1 class="ut-sbc-challenge-table-row-view--title">Gold Challenge</h1>
                    <div class="ut-progress-bar rounded in-progress completed no-state">
                        <div class="ut-progress-bar--fill" style="width: 100%;"></div><span
                            class="ut-progress-bar--label">In Progress</span>
                    </div>
                </div>
            </div>
            <div class="ut-sbc-challenge-table-row-view selected"><img
                    src="https://www.ea.com/ea-sports-fc/ultimate-team/web-app/content/26E4D4D6-8DBB-4A9A-BD99-9C47D3AA341D/2026/fut/sbc/companion/challenges/images/sbc_challenge_image_330161-76611ac3-723c.png"
                    class="ut-sbc-challenge-table-row-view--image">
                <div class="ut-sbc-challenge-table-row-view--content">
                    <h1 class="ut-sbc-challenge-table-row-view--title">Gold Challenge</h1>
                    <div class="ut-progress-bar rounded no-state">
                        <div class="ut-progress-bar--fill"></div><span class="ut-progress-bar--label">Start
                            Challenge</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ut-sbc-requirements-view ui-layout-right">
        <header>
            <h1>Gold Challenge</h1>
        </header>
        <div class="ut-sbc-challenge-details-view">
            <div class="ut-sbc-challenge-details-view--description">Exchange a Squad featuring Gold Players.</div>
            <div class="ut-sbc-challenge-requirements-view">
                <h3 class="title">Challenge Requirements</h3>
                <ul class="sbc-requirements-checklist">
                    <li>Player Quality: Exactly Gold</li>
                </ul>
            </div>
            <div class="rewards-container"><span class="title">Challenge Rewards</span>
                <ul class="ut-sbc-group-reward-list-view">
                    <li class="ut-sbc-reward-table-cell-view">
                        <div class="image-container">
                            <div class="ut-sbc-reward-table-cell-view--reward">
                                <div class="basePack ut-pack-graphic-view"><img
                                        src="https://www.ea.com/ea-sports-fc/ultimate-team/web-app/content/26E4D4D6-8DBB-4A9A-BD99-9C47D3AA341D/2026/fut/packs/images/web/packs_backgrounds_2.png"
                                        class="ut-pack-graphic-view--background"><img
                                        src="images/Items/pack-tradable.png" class="ut-pack-graphic-view--tradable"
                                        style="display: none;">
                                    <div class="ut-pack-graphic-view--shine"></div>
                                    <div class="ut-pack-graphic-view--reco" style="display: none;"><span>For You</span>
                                    </div>
                                    <div class="ut-pack-graphic-view--promo limited" style="display: none;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="rowContent">
                            <div class="text-container"><span class="ut-sbc-reward-table-cell-view--value"></span><span
                                    class="ut-sbc-reward-table-cell-view--label">x1 Silver Pack</span></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <footer><button class="btn-standard primary">Start Challenge</button></footer>
    </div>
</div>