<div class="challenge-content">
    <div class="ut-sbc-challenge-details-view">
        <div class="ut-sbc-challenge-details-view--description">Earn a pack containing 5 Rare Gold Player Items, rated
            78 or lower.</div>
        <div class="ut-sbc-challenge-requirements-view">
            <h3 class="title">Challenge Requirements</h3>
            <ul class="sbc-requirements-checklist">
                <li data-after="(0)">Gold: Min. 5 Players</li>
                <li>Number of Players in the Squad: 5</li>
            </ul>
        </div>
        <div class="rewards-container"><span class="title">Group Rewards</span>
            <ul class="ut-sbc-group-reward-list-view">
                <li class="ut-sbc-reward-table-cell-view">
                    <div class="image-container">
                        <div class="ut-sbc-reward-table-cell-view--reward">
                            <div class="basePack ut-pack-graphic-view"><img
                                    src="https://www.ea.com/ea-sports-fc/ultimate-team/web-app/content/26E4D4D6-8DBB-4A9A-BD99-9C47D3AA341D/2026/fut/packs/images/web/packs_backgrounds_3.png"
                                    class="ut-pack-graphic-view--background"><img src="images/Items/pack-tradable.png"
                                    class="ut-pack-graphic-view--tradable" style="display: none;">
                                <div class="ut-pack-graphic-view--shine"></div>
                                <div class="ut-pack-graphic-view--reco" style="display: none;"><span>For You</span>
                                </div>
                                <div class="ut-pack-graphic-view--promo limited" style="display: none;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="rowContent">
                        <div class="text-container"><span class="ut-sbc-reward-table-cell-view--value"></span><span
                                class="ut-sbc-reward-table-cell-view--label">x1 5x Max. 78 Rare Gold Players Pack
                                (Untradeable)</span></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="sbc-button-container"><button type="button" data-base-text="Auto Complete" class="btn-standard upgrade"
            data-futgenie-added="true" data-futgenie-action="autoComplete"
            data-futgenie-view="UTSBCSquadDetailPanelView">Auto Complete</button><button
            class="btn-standard call-to-action disabled" disabled="">Exchange Players</button><button
            class="btn-standard primary">Use Squad Builder</button><button class="btn-standard disabled"
            disabled="">Clear Squad</button>
        <div data-futgenie-sbc-more-options="true" class="futgenie-sbc-more-options"><button type="button"
                class="futgenie-sbc-more-options-trigger" aria-haspopup="true" aria-expanded="false">More FUTGenie
                Options</button>
            <div class="futgenie-sbc-more-options-menu" role="menu" hidden=""><button type="button"
                    class="futgenie-sbc-more-options-item" role="menuitem">Add Multiple Players</button><button
                    type="button" class="futgenie-sbc-more-options-item" role="menuitem">Buy All Concept</button><button
                    type="button" class="futgenie-sbc-more-options-item" role="menuitem">Add Unassigned Players</button>
            </div>
        </div>
    </div>
    <footer class="sbc-status-container">
        <div class="repeat status"><span class="label">Repeatable</span></div>
        <div class="expires status"><span class="label">Expires In: 3 Days</span></div>
    </footer>
</div>