<div class="inline-list-select ut-search-filter-control force-ltr has-default has-image has-selection">
    <div class="inline-container" style="top: 0px;">
        <div class="ut-search-filter-control--row"><img class="ut-search-filter-control--row-image"
                src="https://www.ea.com/ea-sports-fc/ultimate-team/web-app/content/26E4D4D6-8DBB-4A9A-BD99-9C47D3AA341D/2026/fut/items/images/mobile/leagues/dark/308.png"><span
                class="label">Liga Portugal (POR 1)</span><button
                class="flat ut-search-filter-control--row-button"></button></div>
    </div>
</div>